article.single.section_padding.blog-single
  .container
    .blog-single__inner
      .single-title-wrap
        span.tag カテゴリ1
        h1.single__title お知らせのタイトルテキストテキストテキストテキストテキストテキストテキスト
        .sns.mt20
          .sns__group
            span like
            span like
            span like
          span.date.mt0 2020-01-01

      section.single__cont
        h1 見出しh2
        p 本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        section
          h2 見出しh3
          p 本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          blockquote 引用文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          .img
            img(src=imgPath + "img-single.png", alt="個別記事画像")
          ul
            li リストリストリストリストリスト
            li リストリストリストリストリストリストリストリストリスト
            li リストリストリストリストリストリストリストリストリストリストリストリストリストリスト
          a(href="#").mt30 テキストリンクテキストリンク
      .recommend-wrap
        h2.recommend-article__title おすすめの記事
        article.recommend-article
          .recommend-article__thumb
            img(src=imgPath + "blog01.jpg", alt="おすすめ記事")
            span.tag カテゴリ1
          .recommend-article__cont
            span.date 0000-00-00
            .recommend-article__link ブログタイトルテキストテキストテキストテキスト
        article.recommend-article
          .recommend-article__thumb
            img(src=imgPath + "blog01.jpg", alt="おすすめ記事")
            span.tag カテゴリ1
          .recommend-article__cont
            span.date 0000-00-00
            .recommend-article__link ブログタイトルテキストテキストテキストテキスト
        article.recommend-article
          .recommend-article__thumb
            img(src=imgPath + "blog01.jpg", alt="おすすめ記事")
            span.tag カテゴリ1
          .recommend-article__cont
            span.date 0000-00-00
            .recommend-article__link ブログタイトルテキストテキストテキストテキスト
    aside.sidebar
      h2.sidebar__title 関連記事
      article.sidebar-article
        .sidebar-article__thumb
          img(src=imgPath + 'no-image.png', alt="画像なし")
        h2.sidebar-article__title
          a(href="#").sidebar-article__link ブログタイトルテキストテキストテキストテキストテキストテキストブログタイトルテキストテキストテキストテキストテキストテキスト
      article.sidebar-article
        .sidebar-article__thumb
          img(src=imgPath + 'no-image.png', alt="画像なし")
        h2.sidebar-article__title
          a(href="#").sidebar-article__link ブログタイトルテキストテキストテキストテキストテキストテキストブログタイトルテキストテキストテキストテキストテキストテキスト
      article.sidebar-article
        .sidebar-article__thumb
          img(src=imgPath + 'no-image.png', alt="画像なし")
        h2.sidebar-article__title
          a(href="#").sidebar-article__link ブログタイトルテキストテキストテキストテキストテキストテキストブログタイトルテキストテキストテキストテキストテキストテキスト
      h2.sidebar__title カテゴリー
      ul.category-list
        li.category-list__item
          a(href="#") カテゴリー1 
        li.category-list__item
          a(href="#") カテゴリー2
        li.category-list__item
          a(href="#") カテゴリー3 