section.blog.section_padding
  .container
    h2.section_title 新着一覧
    .blog__wrap
      article.news
        a.news__link(href="#") 
          .news__img
            img(src=imgPath + "news01.jpg", alt="記事画像")
            span.news__tag カテゴリ2
          .news__cont
            span.date 2020-12-01
            h3.news__title ブログタイトルブログタイトル
            p.news__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      article.news
        a.news__link(href="#") 
          .news__img
            img(src=imgPath + "news02.jpg", alt="記事画像")
            span.news__tag カテゴリ2
          .news__cont
            span.date 2019-12-01
            h3.news__title ブログタイトルブログタイトルブログタイトルブログタイトル
            p.news__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      article.news
        a.news__link(href="#") 
          .news__img
            img(src=imgPath + "news03.jpg", alt="記事画像")
            span.news__tag カテゴリ1
          .news__cont
            span.date 2019-10-01
            h3.news__title ブログタイトルテキストテキストテキストテキストテキストテキストテキスト
            p.news__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      article.news
        a.news__link(href="#") 
          .news__img
            img(src=imgPath + "news01.jpg", alt="記事画像")
            span.news__tag カテゴリ2
          .news__cont
            span.date 2020-12-01
            h3.news__title ブログタイトルブログタイトル
            p.news__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      article.news
        a.news__link(href="#") 
          .news__img
            img(src=imgPath + "news02.jpg", alt="記事画像")
            span.news__tag カテゴリ2
          .news__cont
            span.date 2019-12-01
            h3.news__title ブログタイトルブログタイトルブログタイトルブログタイトル
            p.news__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      article.news
        a.news__link(href="#") 
          .news__img
            img(src=imgPath + "news03.jpg", alt="記事画像")
            span.news__tag カテゴリ1
          .news__cont
            span.date 2019-10-01
            h3.news__title ブログタイトルテキストテキストテキストテキストテキストテキストテキスト
            p.news__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


